.header-pc_container {
    background-color: var(--bg-secondary);
    padding: 10px 20px;
    box-shadow: var(--shadow-lg);

    .row {

        .header-logo {
            display: flex;
            align-items: center;
            justify-content: left;

            img {
                width: 70px;
                height: 70px;
                border-radius: 10px;
            }
        }

        .menu {
            color: var(--text-primary);
            display: flex;
            align-items: center;
            justify-content: space-between;


            .item {
                font-size: 22px;
                position: relative;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                cursor: pointer;
                transition: all 0.3s linear;
            }

            // .item:hover {
            //     // font-size: 22px;
            //     font-weight: 600;
            // }

            .item::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 2px;
                background-color: var(--text-secondary);

            }

            .item:hover::before {
                animation: slideIn 0.3s linear;
                width: 100%;
            }

            .active {
                border-bottom: 3px solid #fff;
                font-weight: 600 !important;
            }
        }
    }
}

// resize
@media (min-width: 768px) and (max-width: 1023px) {
    .header-pc_container {
        .row {
            .header-logo {
                img {
                    width: 50px;
                    height: 50px;
                }
            }

            .menu {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 768px) {
    .header-pc_container {
        display: none;
    }
}

@keyframes slideIn {
    0% {
        width: 0%;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}