.card_container {
    font-size: 20px;
    padding: 30px 0;
    color: var(--text-primary);
    width: 65vw;
    gap: 10px;
    border: 1px solid var(--border-light);
    border-radius: 10px;
    box-shadow: var(--shadow-md);



    /* Initial state */
    /* Animation Logic */
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);

    &.slide-from-left {
        transform: translateX(-100px);
    }

    &.slide-from-right {
        transform: translateX(100px);
    }

    &.is-visible {
        opacity: 1;
        transform: translateX(0);

    }



    .card_title {
        font-weight: 700;
        font-size: 25px;
        text-align: center;
    }

    .reverse {
        flex-direction: row-reverse;
    }

    .card_content {
        display: flex;
        align-items: center;
        justify-content: center;

        .card_img {
            width: 150px;
            height: 150px;
        }

        .card_desc {
            text-align: justify;
            font-size: 18px;

        }
    }
}