.card-word_container {
    background-color: var(--bg-white);
    flex: 1 1 100px;
    height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
    font-size: 25px;
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        font-weight: 600;
        box-shadow: var(--shadow-xl);
    }

}

@media (max-width: 768px) {
    .card-word_container {
        height: 60px;
        font-size: 20px;
        flex: 1 1 80px;
        height: 60px;
    }
}