.home_page_container {
    width: 100%;
    height: 100%;


    .mobile {
        display: none;
    }

    .pc {
        display: block;
        width: 100%;
        height: 100%;
    }

}

@media (max-width: 767px) {
    .home_page_container {
        .mobile {
            display: block;
        }

        .pc {
            display: none;
        }

        background-image: url("../../Assets/DUOTINMOBILE.jpeg");
    }
}

@media (min-width: 768px) and (max-width:1032px) {
    .home_page_container {
        .pc {
            display: none;
        }

        .mobile {
            display: block;
        }
    }
}