.home_page_container {
    background-color: red;
    height: 100%;
    width: 100%;
    background: url("../../Assets/DUOYIN.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}